* {
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

p {
    color: #424247;
}

/* header */
header {
    margin: 50px 120px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    /* border: 2px solid red; */
}

.website-contaner {
    font-size: 26px;
    font-weight: 800;
}

.web-color {
    color: #FF5400;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    justify-content: end;
    align-items: end;
}

/* main */

.fist-section {
    margin: 32px 150px;
    text-align: center;
    width: auto;
    height: 500px;
}

.img {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/group\ 1.png);
    /* background-attachment: fixed; */
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.Explore {
    color: #FFF;
    font-weight: 800;
    font-size: 40px;
    padding-top: 100px;
}

.all-para {
    color: #FFF;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;

}

.input-boder {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    margin-left: 200px;
    margin-right: 200px;

}

.input-boder input {
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
}

.F-button {
    height: 40px;
    width: 120px;
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

.popular-tours {
    margin: 50px 140px;
    display: flex;
    gap: 50px;
}

.text-container {
    margin-bottom: 50px;
}

.text-container p {
    color: #424247;
}

.toure {
    margin-bottom: 30px;
    color: black;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.text-container ul {
    color: #424247;
    padding-left: 20px;
    padding-right: 100px;
}

.text-container ul li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.R-button {
    margin-top: 30px;
    height: 50px;
    width: 120px;
    color: #FFF;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

.Destination {
    margin: 50px 140px;
    text-align: center;
}

.Choose {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 40px;
}

.Choose-para {
    margin-bottom: 40px;
}

.Destination-img {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.img-container {
    position: relative;
    height: auto;
}

.position {
    position: absolute;
    font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: 800;
}

/* <section class="Choose-details"> */
.Choose-details img{
    width: 64px;
    height: 64px;
}
.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}